<div class="wrapper">

  <div class="header">

    <div class="container">
      <div class="ul-continer">
      <ul>
        <li> <a href="https://www.jyu.fi">Jyväskylän yliopisto</a>
          <span class="separator">|</span>
        </li>
        <li> <a href="https://osc.jyu.fi">Avoimen tiedon keskus</a>
          <span class="separator">|</span>
        </li>
        <li> <a href="/">Opinnäytehaku</a>
        </li>
      </ul>
      </div>
    </div>

  </div>
  <div class="content">
    <!--------------Div for Search Form---------------->
    <div class="container">
      <app-searchform (searchEvent)="search($event)"> </app-searchform>
    </div>
    <!--------------Div for Search Result---------------->
    <div class="container text-center">
      <app-searchresult [searchResults]="searchResults"> </app-searchresult>
    </div>
  </div>

  <div class="footer">

    <div class="logo-div">
      <a href="https://www.jyu.fi" class='site-logo'> </a>
    </div>
    <div class="uni-name">
      <a href="https://www.jyu.fi">Jyväskylän yliopisto</a>
    </div>

  </div>
</div>
