<!--<ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="selectedOptions" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>-->

<form novalidate #queryData="ngForm" (ngSubmit)="goSearch(queryData)">

	<h3>Thesis Search </h3>

	<input ngModel type="search" pattern="[a-zA-Z0-9-\s]+" class="form-control" name="searchText" #searchText="ngModel" required minlength= "3" maxlength="100" placeholder="Type what you want to search for...">
	
	<div *ngIf="searchText.errors && (searchText.dirty || searchText.touched)" class="alert alert-danger">
	<div [hidden]="!searchText.errors.required"> Input required! </div>
		<div [hidden]="!queryData.controls.searchText.errors.pattern"> Only alphanumeric characters! </div>
		<!--<div [hidden]="!searchText.errors.pattern"> Only alphanumeric characters! </div>-->
		<div [hidden]="!searchText.errors.minlength"> Type at least 3 characters! </div>
		<div [hidden]="!searchText.errors.maxlength"> Maximum 100 characters! </div>
	</div>
	

	<!-- <div *ngIf="searchText.errors?.pattern" class="alert alert-danger">
  		Only alphanumeric characters!
	</div> -->

	<br>

	<div>
		<ss-multiselect-dropdown [(ngModel)]="selectedOptions_method" name="selected_method" [options]="methods" (ngModelChange)="onChange($event)"
			[settings]="settings_Search" [texts]="txt_method" required></ss-multiselect-dropdown>
		<ss-multiselect-dropdown [(ngModel)]="selectedOptions_discip" name="selected_discip" [options]="disciplines" [settings]="settings_Search"
			[texts]="txt_discipline" required></ss-multiselect-dropdown>
	</div>

	<br>

	<div class="checkbox">
		<label><input ngModel type="checkbox" name="Ms" value="Masters" checked> Master's </label>
		<label><input ngModel type="checkbox" name="Ds" value="Dissertation" > Dissertation </label>
	</div>

	<br>

	<div>
		<label> From <input ngModel type="number"  class="form-control" name="year_from" min="1901" max="2100" placeholder="Year"></label>
		<label> To <input ngModel type="number" class="form-control" name="year_to" min="1901" max="2100" placeholder="year"></label>
	</div>
<!--
	<div *ngIf="searchText.errors && (searchText.dirty || searchText.touched)" class="alert alert-danger">
		<div [hidden]="!searchText.errors.required"> Input required! </div>
		<div [hidden]="!searchText.errors.minlength"> Type at least 3 characters! </div>
		<div [hidden]="!searchText.errors.maxlength"> Maximum 30 characters! </div>
	</div>
-->
	<br>

	<div>
		<!--<button type="submit" class="btn btn-default" [disabled]="queryData.invalid" >Search</button>-->
		<button type="submit" class="btn btn-default">Search</button>
	</div>

</form>
<div>
	<h2> Display board </h2>
	<p>Object {{ queryData.value | json }}</p>
</div>