html, body {
    height: 100% ;
    min-height: 100% !important;
    margin: 0;
 }
button.dropdown-toggle.btn.btn-default {
    padding-left: 6px !important;
    padding-right: 6px;
}

td.fulltext {
    color:red;
}

.hide {
    display:none;
}