 html,
 body {
     height: 100%;
 }
 #wrapper {
     min-height: 100%;
     position: relative;
 }
 #header {
     background-color: #002957;
     color: #fff;
     height: 90px;
     font-size: 20px;
 }
 #header a {
     color: #fff;
     font-family: aleo, serif;
     text-decoration: none;
 }
 #header .separator {
     color: #f1563f;
 }
 #footer {
     height: 120px;
     position: absolute;
     right: 0;
     left: 0;
     bottom: 0;
     color: #002957;
     text-align: left;
     font-family: aleo, serif;
     background-color: #e9e9e9;
 }
  #footer .site-logo {
     box-sizing: border-box;
     align-items: center;
     background-color: #002957;
     color: red;
     display:inline-block;
     cursor: auto;
     width: 120px;
     height: 120px;
     box-sizing: border-box;
     margin-left: -15px;
 }

#footer .social-links {
    box-sizing: border-box;
    color: #002957;
    font-family: Aleo, serif;
    font-size: 32px;
    font-weight: normal;
    height: 48px;
    line-height: 48px;
    margin-right: -320px;
    padding-left: 50px;
    width: 329.672px;

}
 
#footer .site-name {
    background-color: transparent;
    box-sizing: border-box;
    color: #002957;
    cursor: auto;
    font-family: Aleo, serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 48px;
    text-decoration: none;
    touch-action: manipulation;
    margin-left: 900px;
}


 #footer .fa {
     color: #f1563f;
 }
/*
 #footer .site-logo {
     align-items: center;
     background-color: #002957;
     box-sizing: border-box;
     color: #f1563f;
     cursor: auto;
     display: inline-block;
     font-family: Aleo, serif;
     font-size: 32px;
     font-weight: normal;
     height: 120px;
     justify-content: center;
     text-decoration: none;
     touch-action: manipulation;
     width: 120px;
     margin-left: -15px;
 } 
*/
/*
#footer .site-name {
    background-color: transparent;
    box-sizing: border-box;
    color: #002957;
    cursor: auto;
    display: block;
    font-family: Aleo, serif;
    font-size: 32px;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
    margin-left: 909.875px;
    margin-right: 50px;
    text-decoration: none;
    touch-action: manipulation;
    width: 303.453px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}*/

