 html,
 body {
     height: 100%;
 }
 #wrapper {
     min-height: 100%;
     position: relative;
 }
 .header {
     background-color: #002957;
     color: #fff;
     height: 90px;
     font-size: 20px;

     
 }

.header p {
 text-align: left;
line-height: 100px;
     
 }

 .header a {
     color: #fff;
     font-family: aleo, serif;
     text-decoration: none;
     
 }
 .header .separator {
     color: #f1563f;
 }
 .footer {
     height: 120px;
     position: absolute;
     right: 0;
     left: 0;
     bottom: 0;
     color: #002957;
     text-align: left;
     font-family: aleo, serif;
     background: #e9e9e9;
     display: initial;
     margin-left: -15px;
     margin-bottom: -15px;
 }
 .uni-logo {
     height: 120px;
     width: 120px;
     background: #002957;
     position: relative;
     vertical-align: top;
     display: inline-block;
 }
 .social-links {
     margin-left: 15%;
     height: 120px;
     display: inline-block;
     vertical-align: top;
     color: #f1563f;
     position: relative;
 }
 .social-links a {
     display: inline-block;
     margin-left: 45px;
     margin-top: 40px;
     font-size: 32px;
 }
 .social-links i {
     color: #f1563f;
 }
 .uni-name {
     height: 120px;
     font-size: 32px;
     vertical-align: middle;
     float: right;
     margin-right: 30px;
 }

 .uni-name a {
     text-decoration: none;
     font-family: Aleo, serif;
     color: #002957;
     margin-top: 40px;
     display: block;
     font-weight: bold;
   }
 