<h3>Search results</h3>
<div>
  <p> {{searchQ}} </p>
  <p>Result table will be displayed here..</p>
  <hr>
 <!-- <div *ngIf="searchResults"> -->
      <div >

    <!--<p>Total results: {{searchResults.length}}</p>-->

    <clr-datagrid [clrDgLoading]="loading">

      <clr-dg-column [clrDgField]="'id'">Signum</clr-dg-column>
      <clr-dg-column [clrDgField]="'name'">Hylly</clr-dg-column>
      <clr-dg-column [clrDgField]="'testno'">Signumm</clr-dg-column>



      <clr-dg-row *clrDgItems="let item of searchResults">
        <!--
        <clr-dg-cell > {{item.signum}} </clr-dg-cell>
        <clr-dg-cell > {{item.floor}} </clr-dg-cell> 
        -->
        <clr-dg-cell > {{item.id}} </clr-dg-cell>
        <clr-dg-cell > {{item.name}} </clr-dg-cell>
        <clr-dg-cell > {{item.testno}} </clr-dg-cell>
    
      </clr-dg-row>

     <!-- <clr-dg-footer>{{searchResults.length}} items</clr-dg-footer> -->

    </clr-datagrid>

  </div>


</div>