
/*searchresult.component.css*/
.search-result h3{
    color: #002957;
}

table[data-sortable].sortable-theme-bootstrap {
  font-family: Lato,sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #002957;
  background: white;
  width: 100%;
}

.th-Tyypi {
    width: 10%;
}
.th-Tekija {
    width: 10%;
}
.th-Full-Text {
    width: 10%;
}
.th-Julkaisu {
    width: 10%;
}