<!--
  <link rel="stylesheet" href="../../../node_modules/clarity-icons/clarity-icons.min.css">
  <link rel="stylesheet" href="../../../node_modules/clarity-ui/clarity-ui.min.css">
  -->



<table class="sortable-theme-bootstrap" data-sortable>
  <thead>
    <tr>
      <th class="th-Tyypi">Tyyppi</th>
      <th class="th-Tekija">Tekijä</th>
      <th>Otsikko</th>
      <th class="th-Julkaisu">Julkaistu</th>
      <th class="th-Full-Text">Full-Text</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of searchResults">
      <td> {{item.thesis_type_label}} </td>
      <td>{{item.first_authors}}</td>
      <td> <a href="{{item.catalogue_url}}" target="_blank">{{item.full_title}}</a> </td>
      <td>{{item.publishing_date}}</td>
      <td>
        <a *ngIf="item.fulltext_url.length > 0" href="{{item.fulltext_url}}" target="_blank">
          <i class="fa fa-file-text-o"></i>
        </a>
      </td>
    </tr>


  </tbody>
</table>


<!--
  <div *ngIf="searchResults">
    <p>Total results: {{searchResults.length}}</p>
  </div>

  <clr-datagrid [clrDgLoading]="loading">

    <clr-dg-column [clrDgField]="'thesis_type_label'">Tyyppi</clr-dg-column>
    <clr-dg-column [clrDgField]="'first_authors'">Tekijä</clr-dg-column>
    <clr-dg-column [clrDgField]="'full_title'">Otsikko</clr-dg-column>
    <clr-dg-column [clrDgField]="'publishing_date'">Julkaistu</clr-dg-column>
    <clr-dg-column [clrDgField]="'fulltext_url'">Full-Text</clr-dg-column>


    <clr-dg-row *clrDgItems="let item of searchResults">

      <clr-dg-cell> {{item.thesis_type_label}} </clr-dg-cell>
      <clr-dg-cell> {{item.first_authors}} </clr-dg-cell>
      <clr-dg-cell> <a href="{{item.catalogue_url}}" target="_blank">{{item.full_title}}</a> </clr-dg-cell>
      <clr-dg-cell> {{item.publishing_date}} </clr-dg-cell>
      <clr-dg-cell>
        <a *ngIf="item.fulltext_url.length > 0" href="{{item.fulltext_url}}" target="_blank">
          <clr-icon shape="file"></clr-icon>
        </a>
      </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer *ngIf="searchResults">{{searchResults.length}} items</clr-dg-footer>


  </clr-datagrid>
-->