<!--<ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="selectedOptions" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>-->


<div class="search-cmp-container">

			<div *ngIf="error_msg" class=" alert alert-danger"> Oops ! something went wrong, please contact librarians! </div>


	<div class="form-container">
		<form novalidate #queryData="ngForm" (ngSubmit)="goSearch(queryData)">

			<div class="row">

				<div class="col-sm-9">
					<input  [(ngModel)]="textInput" type="search" pattern="[a-zäöåA-ZÄÖÅ0-9-\s]+" class="form-control text-input" name="searchText"
						#searchText="ngModel" minlength="3" maxlength="100" placeholder="Type what you want to search for...">
				</div>
				<div class="col-sm-3">
					<button [disabled]="!methods"  type="submit" class="btn btn-default center-block btn-block search-btn">Search</button>
				</div>

			</div>
			<br>

			<div class="row">
				<div class="col-sm-2 text-center ">

					<div> <label>Method(s)</label> </div>

					<div> <ss-multiselect-dropdown [disabled]="!methods" [(ngModel)]="selected_methods" name="selected_methods" [options]="methods" [settings]="settings_forSearch"
						[texts]="defaultTitle_method"></ss-multiselect-dropdown> </div>

				</div>
				<div class="col-sm-2 text-center">
					<div><label> Discipline(s)</label></div>

					<div><ss-multiselect-dropdown [disabled]="!disciplines" [(ngModel)]="selected_disciplines" name="selected_disciplines" [options]="disciplines" [settings]="settings_forSearch"
						[texts]="defaultTitle_discipline"></ss-multiselect-dropdown></div>


				</div>
				<div class="col-sm-2 text-center">
					<div> <label> Level(s)</label> </div>

					<div> <ss-multiselect-dropdown [(ngModel)]="selected_levels" name="selected_levels" [options]="levels" [settings]="settings_levels"
						[texts]="defaultTitle_level"></ss-multiselect-dropdown> </div>

				</div>
				<div class="col-sm-3 text-center year-div">


					<div class="from-div col-sm-6">
						<div><label>From</label></div>
						<div>
							<ss-multiselect-dropdown [(ngModel)]="selected_yearFrom" name="yearFrom" [options]="listofYears" [settings]="settings_year"
								[texts]="defaultTitle_discipline"></ss-multiselect-dropdown>
						</div>

					</div>

					<div class="to-div col-sm-6">
						<div><label>To</label></div>
						<div>
							<ss-multiselect-dropdown [(ngModel)]="selected_yearTo" name="yearTo" [options]="listofYears" [settings]="settings_year" [texts]="defaultTitle_discipline"></ss-multiselect-dropdown>
						</div>

					</div>


				</div>
				<div class="col-sm-3 checkbox-fulltext">
					<div> <label> Full-Text Online  </label> </div>
					<input type="checkbox" [(ngModel)]="fulltext" name="fulltext">

				</div>

			</div>

		</form>
	</div>
	<div class="show-hide-link">
		<a (click)="show_selections = !show_selections">
			<span *ngIf="!show_selections" class="glyphicon glyphicon-chevron-right"></span>
			<span *ngIf="show_selections" class="glyphicon glyphicon-chevron-down"></span> Selected options
		</a>
	</div>

	<div *ngIf="show_selections" class="selected-options" name="divToggle">

		<div>
			<dl>
				<dt *ngIf="selected_methods[0]">Methods</dt>

				<dd class="dd-selected-options" *ngFor="let method of selected_methods"> {{method}}</dd>

				<dt *ngIf="selected_disciplines[0]">Disciplines</dt>

				<dd class="dd-selected-options" *ngFor="let discipline of selected_disciplines"> {{discipline}}</dd>

				<dt *ngIf="selected_levels[0]">Levels</dt>

				<dd class="dd-selected-options" *ngFor="let level of selected_levels">{{level}}</dd>
			</dl>
		</div>
	</div>
</div>