.search-form-container {
    padding-top: 1px;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form){
    border-left: 5px solid #a94442; /* red */
}

.search-criteria{
    font-size: 14px;
    text-align:right;
}

.text-input {
   margin-top: 10px;
}

.search-btn{
   border: 1px solid #002957;
   margin-top: 10px;
}

.show-hide-link {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.show-hide-link a {
    text-decoration: none;
    cursor: pointer;
    color: #002957;

}

hr {
    margin-top: 10px;
    margin-bottom: 5px;
}

.checkbox-fulltext { 
    /*padding-top: 20px;*/
    text-align: center;
}

.year-from input{
    max-width: 70px;
    padding-right: 3px;

}
.year-to input{
    max-width: 70px;
    padding-right: 3px;

}

  dl {
    /*border: 3px double #ccc;*/
    padding: 0.5em;
  }
  dt {
    float: right;
    clear: right;
    width: 70px;
    text-align: right;
    font-weight: bold;
    color: #002957;
  }
  /*
  dt::before {
    content: ":";
  }*/
  dd {
    margin: 0 80px 0 0;
    padding: 0 0 0.5em 0;
  }


/*  check this definition in Styles.css

button.dropdown-toggle.btn.btn-default {
    padding-left: 6px !important;
    padding-right: 6px;
}
*/