.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form){
    border-left: 5px solid #a94442; /* red */
}

.search-criteria{
    font-size: 14px;
    text-align:left;
}

.search-btn{
    margin-top: 30px;

}

.search-btn .center-block {
    width: 200px;
   
}

.show-hide-link {
    margin-top: 15px;
}

.show-hide-link a {
    text-decoration: none;
    cursor: pointer;
}

hr {
    margin-top: 5px;
}
