<!--<ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="selectedOptions" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>-->

<h3>Thesis Search </h3>

<form novalidate #queryData="ngForm" (ngSubmit)="goSearch(queryData)">

	<input [(ngModel)]="textInput" type="search" pattern="[a-zäöåA-ZÄÖÅ0-9-\s]+" class="form-control" name="searchText" #searchText="ngModel"
		minlength="3" maxlength="100" placeholder="Type what you want to search for...">

		<!-- Text input validation messeges -->
		<!--
		<div *ngIf="searchText.errors && (searchText.dirty || searchText.touched)" class="alert alert-danger">
			<div [hidden]="!searchText.errors.required"> Input required! </div>
			<div [hidden]="!queryData.controls.searchText.errors.pattern"> Only alphanumeric characters! </div>
			<div [hidden]="!searchText.errors.minlength"> Type at least 3 characters! </div>
			<div [hidden]="!searchText.errors.maxlength"> Maximum 100 characters! </div>
		</div>
		-->
		<br>

		<div>
			<ss-multiselect-dropdown [(ngModel)]="selected_methods" name="selected_methods" [options]="methods" [settings]="settings_forSearch"
				[texts]="defaultTitle_method"></ss-multiselect-dropdown>
				<ss-multiselect-dropdown [(ngModel)]="selected_disciplines" name="selected_disciplines" [options]="disciplines" [settings]="settings_forSearch"
					[texts]="defaultTitle_discipline"></ss-multiselect-dropdown>
					<ss-multiselect-dropdown [(ngModel)]="selected_levels" name="selected_levels" [options]="levels" [settings]="settings_forCheckAll"
						[texts]="defaultTitle_level"></ss-multiselect-dropdown>
		</div>

		<br>

		<div>
			<label> From <input [(ngModel)]="year_from" type="number"  class="form-control" name="year_from" min="1901" max="2100" placeholder="Year"></label>
			<label> To <input [(ngModel)]="year_to" type="number" class="form-control" name="year_to" min="1901" max="2100" placeholder="year"></label>
			<button type="submit" class="btn btn-default">Search</button>
		</div>

		<hr>
</form>
<div>
	<div>
		<h3> Selected search criteria </h3>
	</div>
	<div>
		<!--<p>JSON Object: {{ queryData.value | json }}</p>-->
		<table class="search_criteria">
			<!--<tr>{{display_selected_methods}}</tr>-->
			<tr><b>Methods:</b> <span [innerHTML]="display_selected_methods"> Not selected yet </span></tr>
			<tr><b>Disciplines:</b> {{selected_disciplines}} </tr>
			<tr><b>Levels:</b> {{selected_levels}} </tr>
		</table>
	</div>
</div>