<!--<ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="selectedOptions" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>-->


<div class="search-form-container">
	<form novalidate #queryData="ngForm" (ngSubmit)="goSearch(queryData)">
		<div class="row">

			<div class="col-sm-9">
				<input [(ngModel)]="textInput" type="search" pattern="[a-zäöåA-ZÄÖÅ0-9-\s]+" class="form-control text-input" name="searchText" #searchText="ngModel"
					minlength="3" maxlength="100" placeholder="Type what you want to search for...">
			</div>
			<div class="col-sm-3">
				<button type="submit" id="search-btn" onclick="changeDataValue()" class="btn btn-default center-block btn-block search-btn">Search</button>
			</div>

		</div>
		<br>

		<div class="row">
			<div class="col-sm-2 text-center ">

				<label>Method(s)</label>

				<ss-multiselect-dropdown [(ngModel)]="selected_methods" name="selected_methods" [options]="methods" [settings]="settings_forSearch"
					[texts]="defaultTitle_method"></ss-multiselect-dropdown>

			</div>
			<div class="col-sm-2 text-center">
				<label> Discipline(s)</label>

				<ss-multiselect-dropdown [(ngModel)]="selected_disciplines" name="selected_disciplines" [options]="disciplines" [settings]="settings_forSearch"
					[texts]="defaultTitle_discipline"></ss-multiselect-dropdown>


			</div>
			<div class="col-sm-2 text-center">
				<label> Level(s)</label>

				<ss-multiselect-dropdown [(ngModel)]="selected_levels" name="selected_levels" [options]="levels" [settings]="settings_forCheckAll"
					[texts]="defaultTitle_level"></ss-multiselect-dropdown>

			</div>
			<div class="col-sm-3 text-center year-div">


				<div class="from-div col-sm-6">
					<label>From</label>
					<div class="year-from"> <input [(ngModel)]="year_from" type="number" class="btn btn-default" name="year_from" min="1901" max="2100" placeholder="Year">
					</div>
				</div>

				<div class="to-div col-sm-6">
					<label>To</label>
					<div class="year-to"> <input [(ngModel)]="year_to" type="number" class="btn btn-default" name="year_to" min="1901" max="2100" placeholder="year">
					</div>
				</div>

			</div>
			<div class="col-sm-3 checkbox-fulltext">
				<input type="checkbox" [(ngModel)]="fulltext" name="fulltext">
				<label> Full-Text Online  </label>
			</div>
		</div>


	</form>

	<div class="show-hide-link">
		<a (click)="show_selections = !show_selections"> {{show_selections ? '*Selected search criteria (Hide)' : '*Selected search criteria (Show)'}} </a>
	</div>

	<div *ngIf="show_selections" class="search-criteria" name="divToggle">

		<div>
			<dl>
				<dt>Methods</dt>
				<dd *ngFor="let method of selected_methods"> {{method}}</dd>

				<dt>Disciplines</dt>
				<dd *ngFor="let discipline of selected_disciplines"> {{discipline}}</dd>

				<dt>Levels</dt>
				<dd *ngFor="let level of selected_levels">{{level}}</dd>
			</dl>
		</div>
	</div>
</div>
<hr>