.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form){
    border-left: 5px solid #a94442; /* red */
}

.search_criteria{
    font-size: 14px;
    text-align: left;
}

/*
.input-group-btn .btn {
    width:32px ;
    padding: 0px !important;
    margin: 0px !important;
    background-color: red;
    
}

*/